<section class="section section-lg">
  <div class="mycontainer">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">Proyectos
        </h2>
        <br>

          <div class="row">
            <div class="col-md-4 mb-5 mb-md-0">
              <div class="card card-lift--hover shadow border-0">
                <a [routerLink]="['/landing']" title="Landing Page">
                  <img src="./assets/img/theme/landing.jpg" class="card-img">
                </a>
                <br>
                <h4 class="text-center display-4">Nombre del Proyecto</h4>
              </div>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
              <div class="card card-lift--hover shadow border-0">
                <a [routerLink]="['/landing']" title="Landing Page">
                  <img src="./assets/img/theme/landing.jpg" class="card-img">
                </a>
                <br>
                <h4 class="text-center display-4">Nombre del Proyecto</h4>
              </div>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
              <div class="card card-lift--hover shadow border-0">
                <a [routerLink]="['/landing']" title="Landing Page">
                  <img src="./assets/img/theme/landing.jpg" class="card-img">
                </a>
                <br>
                <h4 class="text-center display-4">Nombre del Proyecto</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
